<div class="toolbar">
  <a href="#locations/new" class="button add leftButton">+</a>
  <h1>QuickNav</h1>
  <a href="#locations/edit" class="button edit" id="edit-button">Edit</a>
</div>
<ul id="locations" class="rounded">
  <li class="search">
    <form>
      <input type="search" value="" id="search" placeholder="Search" tabindex="0">
    </form>
  </li>
  <li data-id="0" class="current-location non-searchable">
    Current Location
  </li>
  <li data-id="null" class="quick-location non-searchable">
    <input type="text" value="" id="quick-search" placeholder="Quick one off location!">
  </li>
</ul>