<div class="toolbar">
  <a href="#locations/edit" class="back">Back</a>
  <h1>QuickNav</h1>
</div>
<ul class="rounded">
  <li>
    <input type="text" id="name" placeholder="Name" value="<%= name %>">
  </li>
  <li>
    <input type="text" id="address" placeholder="Address" value="<%= address %>">
  </li>
</ul>
<a class="blueButton" id="fetchCurrentLocation">Tag Current Location</a>
<a class="whiteButton submit" href="#locations/<%= id %>/update">Update</a>
<a href="#locations/<%= id %>/delete" class="redButton delete">Delete</a>